*{
    margin:0;
    padding:0;
}

.container{
    border:2px solid black;
    margin:20px 550px 0px 480px;
    width:20vw;
    height: 67vh;
    padding: 10px 17px 2px 17px;
    font-size: 18px;
    font-style:italic;
    font-weight: 770;
    background-color: rgb(244, 242, 242);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(57, 162, 127);
}

.name{
    padding-left: 24px;
    font-weight: 900;
}

.dob{
    padding-left: 8px;
}

.email{
    padding-left: 5px;
}

.phone{
    padding-left: 3px;
}

.gender{
    padding-left: 20px;
}

.state{
    padding-left: 20px;
}

.container2{
    padding-top: 0px;
    padding-left: 108px;
}

.equality{
    padding-left: 30px;
}

.city{
    padding-left: 10px;
}

body{
    background-color:rgb(211, 205, 197);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.button{
    padding-left:138px;
}

.submit{
    color:rgb(234, 232, 232);
    background-color: rgb(38, 38, 46);
}